.weather-panel {
  border: solid 1px grey;
  border-radius: 5px;
  padding: 50px;
  margin: 60px auto;
  width: 50%;
}

.searchbar {
  padding-bottom: 40px;
}

.col-2 button {
  padding: 2px 8px;
  border-radius: 2px;
  border: 1px solid rgb(75, 75, 75);
}

.col-6 h1 {
  font-size: 130px;
  text-align: center;
}

.col-6 p {
  font-size: 16px;
  position: relative;
  top: -10px;
  left: -10px;
  color: grey;
}

#felt-temp {
  text-align: center;
}

.col-12 h3 {
  font-size: 21px;
  padding-top: 10px;
  margin-left: 0px;
}
.col-12 p {
  font-size: 14px;
  color: grey;
  margin-left: 10px;
  padding-top: 5px;
}

#weather-icon {
  margin-left: -15px;
  margin-top: -30px;
}

.p-h-w li {
  list-style: none;
  color: grey;
  font-size: 14px;
}

.p-h-w {
  margin-left: -30px;
}

.weather-forecast {
  text-align: center;
  font-size: 16px;
  padding-top: 30px;
}

.forecast-temp {
  font-size: 14px;
}

.forecast-temp-min {
  color: grey;
}

footer {
  padding-top: 40px;
  color: rgb(45, 45, 45);
  font-size: 10pt;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
